SERVER_BIND_IP=127.0.0.1 # localhost
SERVER_BIND_PORT=5700 # puerto de escucha >1023, por debajo están reservados

# Estos NO son la IP:puerto del proceso cliente, si no que es la IP:puerto a la que
# se intentan conectar los clientes.
CLIENT_TARGET_IP=127.0.0.1
CLIENT_TARGET_PORT=5700

# Clave de autenticación simétrica por defecto.
SECRET_KEY="abc123"